DATABASE_URL='http://127.0.0.1:8080'
DATABASE_AUTH_TOKEN='local'

BETTER_AUTH_URL='http://localhost:3000'
BETTER_AUTH_SECRET=''
BETTER_TRUSTED_URL='http://localhost:3000'
AUTH_GOOGLE_ID=''
AUTH_GOOGLE_SECRET=''